<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="../public/css/home.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/84c4a0d090.js" crossorigin="anonymous"></script>
    <script src="../public/js/date.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="desktop-size">
        <div class="desktop-left">
            <div class="d-left-upper">
                <h3>Screen Sharing</h3>
            </div>
            <div class="d-left-middle"><i class="fa-solid fa-house fa-2x"></i></div>
            <div class="d-left-lower">
                <div class="dropdown">
                    <span class="fa-solid fa-ellipsis fa-2x dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false "></span>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="d-flex justify-content-evenly align-content-center"><span class="material-icons" style="color:red;">info</span><a class="dropdown-item" style="color:red !important;" href="/about-web">About</a></li>
                        <li class="d-flex"><span class="material-icons" style="color:red;">task</span><a class="dropdown-item" href="/privacy-web " style="color:red !important;">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="desktop-right">
            <div class="d-right-upper">
                <div class="d-time">
                    <h1><b>12:35 PM</b></h1>
                </div>
                <div class="d-date">
                    <p><b>Thursday, 20th May'22</b></p>
                </div>
                <div class="d-search">
                    <input type="text " placeholder="Search " />
                    <button type="button ">
              <i class="fa-solid fa-magnifying-glass" style="font-size:1.2rem !important;"></i>
            </button>
                </div>
                <div class="d-profile-pic">
                    <img src="../public/images/other.jpg" alt="profile-pic" width="40rem" height="40rem" />
                </div>
            </div>
            <div class="d-right-lower">
                <div class="d-right-left">
                    <div class="d-meets">
                        <a href="/new-meeting" class="d-new-meet">
                            <div><i class="fa-solid fa-video fa-2x"></i></div>
                            <div>
                                <h3 style="font-weight: lighter;font-size: 1.17rem;">NEW MEETING</h3>
                            </div>
                        </a>
                        <a class="d-join-meet" href="/join ">
                            <div><i class="fa-solid fa-circle-plus fa-2x"></i></div>
                            <div>
                                <h3 style="font-weight: lighter;font-size: 1.17rem;">JOIN MEETING</h3>
                            </div>
                        </a>
                        <!-- <p style="width: 5rem;">
                            <%= user %>
                        </p> -->
                        <!-- <div class="d-schedule-meet">
                            <div><i class="fa-solid fa-calendar-days fa-2x"></i></div>
                            <div>
                                <h3 style="font-weight: lighter;font-size: 1.17rem;">SCHEDULE MEETING</h3>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="d-right-right">
                    <div class="d-upcoming">
                        <h1 style="font-weight: lighter; color: #db3643;font-size: 2rem;">
                            Upcoming Meetings,
                        </h1>
                        <p>Today</p>
                        <div class="d-meetings">
                            <div class="d-meeting">
                                <div class="img"><img src=" " alt=" " /></div>
                                <div class="name-btn">
                                    <p>Name</p>
                                    <button style="
                        color: white;
                        background-color: #db3643;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                      ">
                      Start
                    </button>
                                </div>
                                <div class="time-del">
                                    <p style="color: #db3643">02:00 PM</p>
                                    <i class="fa-solid fa-trash-can"></i>
                                </div>
                            </div>
                            <div class="d-meeting">
                                <div class="img"><img src=" " alt=" " /></div>
                                <div class="name-btn">
                                    <p>Name</p>
                                    <button style="
                        color: white;
                        background-color: #db3643;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                      ">
                      Start
                    </button>
                                </div>
                                <div class="time-del">
                                    <p style="color: #db3643">02:00 PM</p>
                                    <i class="fa-solid fa-trash-can"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="mobile-size">
        <div class="mobile-upper">
            <h3>Meet and Share</h3>
            <div class="m-search">
                <input type="text " placeholder="Search " />
                <button type="button ">
            <i class="fa-solid fa-magnifying-glass" style="font-size:1.5rem;"></i>
          </button>
            </div>
        </div>
        <div class="mobile-middle">
            <div class="d-meets">
                <a href="/new-meeting" class="m-new-meet">
                    <div><i class="fa-solid fa-video fa-2x"></i></div>
                    <div>
                        <h3 style="font-weight: lighter">NEW MEETING</h3>
                    </div>
                </a>
                <a class="m-join-meet" href="/join">
                    <div><i class="fa-solid fa-circle-plus fa-2x"></i></div>
                    <div>
                        <h3 style="font-weight: lighter">JOIN MEETING</h3>
                    </div>
                </a>
                <!-- <div class="m-schedule-meet">
                    <div><i class="fa-solid fa-calendar-days fa-2x"></i></div>
                    <div>
                        <h3 style="font-weight: lighter">SCHEDULE MEETING</h3>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="mobile-bottom">
            <div><a href="/home"><i class="fa-solid fa-house" style="font-size:1.5rem;"></i></a></div>
            <div><i class="fa-solid fa-clock" style="font-size:1.5rem;"></i></div>
            <div>
                <a href="/more"><i class="fa-solid fa-ellipsis" style="font-size:1.5rem;"></a></i>
            </div>
        </div>
    </div>
    <script>
        var today = new Date();
        // today = today.toDateString();
        var day = today.toString().substr(0, 3);
        var month = today.toString().substr(4, 3);
        var date = today.getDate();
        var year = today.getFullYear() - 2000;
        var sub = "th";
        if (date == 1)
            sub = "st";
        if (date == 2)
            sub = "nd";
        if (date == 3)
            sub = "rd";
        var datetext = day + "," + date + sub + " " + month + "\'" + year;
        var time;
        // console.log(datetext);
        if (today.getMinutes() < 10)
            time =
            today.getHours() + ":" + "0" + today.getMinutes();
        else
            time = today.getHours() + ":" + today.getMinutes();
        document.querySelector(".desktop-right .d-right-upper .d-time b").innerHTML = time;
        document.querySelector(".desktop-right .d-right-upper .d-date b").innerHTML = datetext;
    </script>
</body>

</html>