<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/home.css" />
    <script src="https://kit.fontawesome.com/84c4a0d090.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="desktop-size">
        <div class="desktop-left">
            <div class="d-left-upper">
                <h3>Screen Sharing</h3>
            </div>
            <div class="d-left-middle"><i class="fa-solid fa-house fa-2x"></i></div>
            <div class="d-left-lower">
                <i class="fa-solid fa-ellipsis fa-2x"></i>
            </div>
        </div>
        <div class="desktop-right">
            <div class="d-right-upper">
                <div class="d-time">
                    <h1><b>12:35 PM</b></h1>
                </div>
                <div class="d-date">
                    <p><b>Thursday, 20th May'22</b></p>
                </div>
                <div class="d-search">
                    <input type="text" placeholder="Search" />
                    <button type="button">
              <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            </button>
                </div>
                <div class="d-profile-pic">
                    <img src="" alt="profile-pic" />
                </div>
            </div>
            <div class="d-right-lower">
                <div class="d-right-left">
                    <div class="d-meets">
                        <div class="d-new-meet">
                            <div><i class="fa-solid fa-video fa-2x"></i></div>
                            <div>
                                <h3 style="font-weight: lighter">NEW MEETING</h3>
                            </div>
                        </div>
                        <div class="d-join-meet">
                            <div><i class="fa-solid fa-circle-plus fa-2x"></i></div>
                            <div>
                                <h3 style="font-weight: lighter">JOIN MEETING</h3>
                            </div>
                        </div>
                        <div class="d-schedule-meet">
                            <div><i class="fa-solid fa-calendar-days fa-2x"></i></div>
                            <div>
                                <h3 style="font-weight: lighter">SCHEDULE MEETING</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-right-right">
                    <div class="d-upcoming">
                        <h1 style="font-weight: lighter; color: #db3643">
                            Upcoming Meetings,
                        </h1>
                        <p>Today</p>
                        <div class="d-meetings">
                            <div class="d-meeting">
                                <div class="img"><img src="" alt="" /></div>
                                <div class="name-btn">
                                    <p>Name</p>
                                    <button style="
                        color: white;
                        background-color: #db3643;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                      ">
                      Start
                    </button>
                                </div>
                                <div class="time-del">
                                    <p style="color: #db3643">02:00 PM</p>
                                    <i class="fa-solid fa-trash-can"></i>
                                </div>
                            </div>
                            <div class="d-meeting">
                                <div class="img"><img src="" alt="" /></div>
                                <div class="name-btn">
                                    <p>Name</p>
                                    <button style="
                        color: white;
                        background-color: #db3643;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                      ">
                      Start
                    </button>
                                </div>
                                <div class="time-del">
                                    <p style="color: #db3643">02:00 PM</p>
                                    <i class="fa-solid fa-trash-can"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-size">
        <div class="mobile-upper">
            <h3>Meet and Share</h3>
            <div class="m-search">
                <input type="text" placeholder="Search" />
                <button type="button">
            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
          </button>
            </div>
        </div>
        <div class="mobile-middle">
            <div class="d-meets">
                <div class="m-new-meet">
                    <div><i class="fa-solid fa-video fa-2x"></i></div>
                    <div>
                        <h3 style="font-weight: lighter">NEW MEETING</h3>
                    </div>
                </div>
                <div class="m-join-meet">
                    <div><i class="fa-solid fa-circle-plus fa-2x"></i></div>
                    <div>
                        <h3 style="font-weight: lighter">JOIN MEETING</h3>
                    </div>
                </div>
                <div class="m-schedule-meet">
                    <div><i class="fa-solid fa-calendar-days fa-2x"></i></div>
                    <div>
                        <h3 style="font-weight: lighter">SCHEDULE MEETING</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-bottom">
            <div><i class="fa-solid fa-house fa-2x"></i></div>
            <div><i class="fa-solid fa-clock fa-2x"></i></div>
            <div><i class="fa-solid fa-ellipsis fa-2x"></i></div>
        </div>
    </div>
</body>

</html>