html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgb(250, 235, 235) !important;
    font-family: "Poppins", sans-serif !important;
}

.btn-text {
    font-size: 1.5rem;
    font-family: sans-serif !important;
    color: red;
}

a {
    text-decoration: none !important;
    cursor: pointer;
    color: white !important;
}

.call-wrap {
    overflow: auto;
}

.desktop-size {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.desktop-left {
    text-align: center;
    width: 15%;
    height: 100%;
    background-color: #dc3644;
    border-radius: 0 3rem 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.d-left-upper,
.d-left-middle,
.d-left-lower {
    height: 35%;
    width: 40%;
    color: white;
}

.d-left-middle {
    margin-top: -5rem;
}

.d-left-lower {
    margin-bottom: -10rem;
}

.desktop-right {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.d-right-upper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.d-time,
.d-date {
    color: #db3643;
}

.d-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input {
    height: 3.5rem;
    outline: none;
    border: none;
}

button {
    background-color: transparent;
    border: none;
    color: #db3643;
}

.call-wrap {
    height: 100%;
    border-radius: 15px;
}

.d-right-left {
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding: 2rem 0 0 3rem;
}

.d-right-right {
    width: 60%
}

.d-right-lower {
    width: 37%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 3rem;
}


/* .d-right-left,
.d-right-right {
    width: 60%;
    height: 50%;
} */

.d-meets {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.d-new-meet,
.d-schedule-meet,
.d-join-meet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 75%;
    color: white;
    font-weight: lighter;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.d-new-meet {
    background-color: #852028;
}

.d-schedule-meet,
.d-join-meet {
    background-color: #db3643;
}

.d-upcoming {
    height: 80%;
    width: 85%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.d-meetings {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.d-meeting {
    height: 40%;
    width: 80%;
    background-color: rgb(250, 235, 235);
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu {
    border-radius: 1.25rem!important;
    padding: 1rem !important;
}

.end-btn {
    width: 22%;
    height: 33%;
    border-radius: 0.75rem !important;
}

.end-btns {
    width: 100%;
    align-self: center;
}

.ending-card {
    margin-bottom: 10rem;
}

.end-card {
    background-color: rgb(250, 235, 235);
    width: 50%;
    height: 30%;
    z-index: 1;
    position: absolute;
    margin-left: 30%;
    border-radius: 1rem;
}

.g-top {
    width: 100%;
    height: 65%;
    align-items: center;
    justify-content: center;
}

.hide-div {
    display: none!important;
}

.join-area {
    border-radius: 10px;
    text-align: center;
    margin-bottom: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.join-image {
    width: 100%;
}

.join-btn {
    display: flex;
    margin: 0 4rem 4rem 0;
    align-self: end;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.normal-size {
    width: 15rem !important;
}

.lower-screen-section {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 3rem;
}

.lower-buttons {
    width: 70%;
    margin-right: 15rem;
}

.lower-btn-section {
    align-self: start;
    height: 20%;
    width: 75%;
}

.lower-section {
    display: flex;
    height: 60%;
    width: 100%
}

.meeting-area::placeholder {
    color: red;
}

.mobile-size {
    display: none;
}

.participants-card {
    background-color: white;
    width: 110%;
    height: 100%;
    border-radius: 15px;
    overflow: auto;
}

.participant-section {
    width: 30%;
    height: 60%;
}

.screen-icon {
    color: red !important;
    font-size: 3rem !important;
}

.stop-share {
    width: 61%;
    height: 35%;
    border-radius: 0.75rem !important;
}

.text-field {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 40%;
}

.video-show {
    height: 100%;
}

.video-size {
    width: 36rem !important;
}

video {
    border: 1px solid gray;
    width: 15rem;
}

@media (max-width: 960px) {
    .desktop-size {
        display: none;
    }
    .end-card {
        background-color: rgb(250, 235, 235);
        width: 80%;
        height: 30%;
        z-index: 1;
        position: absolute;
        margin-right: 7rem;
    }
    .join-btn-mobile {
        width: 95%;
        text-align: center!important;
        font-size: 1.2rem !important;
        border-radius: 10px !important;
    }
    .text-field-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 33%;
        margin-top: 8rem;
    }
    .mobile-size {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
        height: 103vh;
    }
    .mobile-upper {
        color: #db3643;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .m-search {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        background-color: white;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
    }
    .mobile-middle {
        display: flex;
        flex-direction: column;
        width: 25rem;
        height: 40rem;
        background-color: black;
        overflow: auto;
    }
    .m-new-meet,
    .m-schedule-meet,
    .m-join-meet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30%;
        width: 100%;
        color: white;
        font-weight: lighter;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .m-new-meet {
        background-color: #852028;
    }
    .m-schedule-meet,
    .m-join-meet {
        background-color: #db3643;
    }
    .mobile-bottom {
        display: flex;
        color: white;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 15%;
        border-radius: 2.5rem 2.5rem 0 0;
        align-self: flex-end;
    }
    .video-size-Mob {
        width: 23rem !important;
        height: 38rem;
        margin: 1rem;
    }
}